@use '../../sass/abstracts/variables' as v;

.markdown {
    &__copy {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1.5rem;
        cursor: pointer;
    }
    
    &__textarea {
        width: 50rem;
        height: 30rem;
        white-space: pre-wrap;
    }
}