@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100vh;
}

body {
  background-image: url("../dist/images/bg.png");
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.card {
  background-color: rgba(black, 0.4);
  padding: 15px;
  margin-bottom: 30px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
