@use "../../sass/abstracts/variables" as v;
@use '../../sass/abstracts/mixins' as m;

.header {
    background-color: v.$background-color-primary;
    padding: 1rem 1.5rem;

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__buttons {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;

        button {
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

    }


    &__site-title {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        display: inline-block;

        a {
            text-decoration: none;
            color: inherit;
        }
        span {
            font-weight: bold;
        }
    }

}